@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Navbar */


.Navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2000;
  padding: 15px 0px;
}

.Navbar .site-container{
  height: 100%;
  z-index: 1000;
}

.NavBar-Main{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-content{
  position: relative;
  width: auto;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(25px);
   backdrop-filter: blur(25px);
  border:1px solid #E2E2E2;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width:500px){
  .nav-content{
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(0px) !important;
   backdrop-filter: blur(0px) !important;
  }
}

.last-Nav-link{
  overflow: hidden !important;
}

.site-logo{
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  justify-content: center;
}
.site-logo img{
  max-width: 240px;
}

.site-logo img.mobile-logo{
  display: none;
}

.Nav-Links{
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.Nav-Links button,
.Nav-Links a{
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  grid-gap: 5px;
  padding: 10px 15px;
  height: 100%;
  justify-content: center;
  font-weight:600;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}



.Nav-Links button:hover,
.Nav-Links a:hover{
  color: #17462a;
}

.Nav-Links button svg,
.Nav-Links a svg{
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.Mobile-Nav{
  display: none;
}

@media screen and (max-width:1000px){
  .Navbar{
    height: 70px !important;
    padding: 10px 0px !important;
    margin-top: 0px !important;
  }
  .site-logo img.mobile-logo{
    display: inline-flex !important;
    max-width: 60px !important;
  }
  .site-logo img.pc-logo{
    display: none !important;
  }
  .Nav-Links button,
  .Nav-Links a{
    font-size: 13px !important;
    padding: 10px 15px !important;
  }

}

@media screen and (max-width:500px){
  .Navbar{
    height: auto !important;
  }
  .first-Nav-link{
    border: none !important;
  }
  .first-Nav-link .Nav-Links{
    display: none !important;
  }
  .site-logo{
    padding: 0px !important;
  }

  .Mobile-Nav{
    position: relative;
    width: 100%;
    display: flex !important;
  }

  .Drop_Down{
    left: 0% !important;
  }
  .Drop_Down::before{
    left: 47% !important;
  }
  .Mobile-Nav .Nav-Links button{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
.first-Nav-link{
  background-color: transparent !important;
}
}

@media screen and (max-width:150px){
  .Mobile-Nav .nav-content{
    width: 100% !important;
  }
  .Mobile-Nav .Nav-Links{
    width: 100% !important;
    overflow-x: auto !important;
    justify-content: space-between !important;
    padding: 0px 10px !important;
  }
  .Mobile-Nav .Nav-Links button,
  .Mobile-Nav .Nav-Links a{
    padding: 10px 5px !important;
    font-size: 12px !important;
    gap: 2px !important;
    grid-gap: 2px !important;
  }
  .Mobile-Nav .Nav-Links button svg,
  .Mobile-Nav .Nav-Links a svg{
    font-size: 17px !important;
  }


  .Drop_Down{
    position: fixed !important;
    top: 40px !important;
    width: 90% !important;
    left: 5% !important;
  }
  .Drop_Down::before{
    display: none !important;
  }

  .Mobile-Nav .Nav-Links button{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

}



@media screen and (max-width:1000px){
 .Nav-Links button{
    display: none !important;
  }
}

@media screen and (max-width:370px){
  .Mobile-Nav{
    margin-top: 10px !important;
  }
}


/* Drop_Down */
.Drop_Down{
  position: absolute;
  width: 200px;
  height: auto;
  background-color: #0D2818;
  color: #fff;
  top: 100%;
  border-radius: 10px;
  display: block !important;
  padding: 10px 0px;
  z-index: 500;
}
.Drop_Down a{
  width: 100% !important;
  justify-content: flex-start !important;
}
.Drop_Down a svg{
  font-size: 18px !important;
  color: #7BF2AB !important;
  margin-right: 10px;
}

.Drop_Down a:hover{
  background-color: #164529 !important;
  color: #fff !important;
}

.Drop_Down::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  background-color: #0D2818;
}

.active_Toggle svg{
 transform: rotate(180deg);
}


/* Footer */

.Footer{
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: #f3f3f3; */
  margin-top: 50px;
  padding: 70px 0px;
  border-top: 1px solid #E2E2E2;
}
.footer-Content{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  gap: 100px;
  grid-gap: 100px;
}
@media screen and (max-width:1000px){
  .footer-Content{
    display: block !important;
  }
}
.footer-top-sec{
  position: relative;
  width: 100%;
}
.footer-top-sec-Box{
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  gap: 50px;
}
@media screen and (max-width:1000px){
  .footer-top-sec-Box{
    display: flex !important;
    flex-direction: column !important;
    grid-gap: 30px !important;
    gap: 30px !important;
  }
  .footer-top-sec-Box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Footer-Links{
    text-align: center;
  }
  .footer-top-sec-Box-1 img{
    max-width: 100px !important;
  }
}
@media screen and (max-width:500px){
  .footer-top-sec-Box-1 img{
    max-width: 70px !important;
  }
}
.footer-top-sec-Box-1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top-sec-Box-1 img{
  max-width: 140px;
}


.footer-top-sec-Box-2{
  position: relative;
  width: 100%;
  height: auto;
}

.Footer-Links{
  position: relative;
  width: 100%;
  height: auto;
  margin-left: -10px;
  margin-top: 40px;
}

.Footer-Links a{
  position: relative;
  display: inline-flex;
  align-items: center;
  margin:7px 10px !important;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3 ease-in-out;
}
.Footer-Links a:hover{
  text-decoration: underline;
}
.connect-sec{
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  grid-gap: 40px;
}
@media screen and (max-width:1000px){
  .connect-sec{
    flex-direction: column !important;
    gap: 20px !important;
    grid-gap: 20px !important;
  }
  .connect-sec h3{
    font-size: 14px !important;
  }
  .Footer-Links a{
    font-size: 14px !important;
  }
}
.connect-sec h3{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.social-media{
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  grid-gap: 20px;
}

.social-media a{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0D2818;
  border-radius: 8px;
  background-color: #f3f3f3;
  transition: all 0.3s ease-in-out;
}
.social-media a:hover{
  background-color: #e4e3e3;
}
@media screen and (max-width:1200px){
  .Sub-Foot span{
    margin-top: 60px !important;
  }
}
.social-media a svg{
  font-size: 25px !important;
  width: 25px !important;
}
.Sub-Foot{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 15px;
}
@media screen and (max-width:1000px){
  .Sub-Foot{
    margin-top: 50px !important;
    text-align: center !important;
    border-top: 1px solid #E2E2E2;
    padding-top: 40px !important;
    font-size: 14px !important;
  }
  .Sub-Foot span{
    margin-top: 20px !important;
  }
}
.Sub-Foot span{
  display: block;
  margin-top: 75px;
}


.Sub-Foot a:hover{
  text-decoration: underline;
}




/* App-Pages */

.App-Pages{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70vh;
}


/* home-page */
.home-page{
  position: relative;
  width: 100%;
  height: auto;
}

.hero-sec{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
  /* background-color: #fafafa; */
}

.hero-main{
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
@media screen and (max-width:1400px){
  .hero-main{
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width:1000px){
  .hero-main{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 70px !important;
    grid-gap: 70px !important;
  }

  .hero-sec{
    display: block !important;
    min-height: 0px !important;
    padding: 100px 0px !important;
    padding-bottom: 50px !important;
  }
  .hero-dlt{
    padding: 0px !important;
  }
}

@media screen and (max-width:500px){
  .hero-sec{
    padding: 120px 0px !important;
    padding-bottom: 50px !important;
  }
}
.hero-dlt{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.hero-dlt h6{
  font-size: 11px;
  font-weight: normal;
  color: #0D2818;
  margin-bottom: 10px;
  display: block;
}

/* .hero-dlt h1{
  font-size: 60px;
} */

.hero-dlt h1 span{
  background-color: #7BF2AB;
  display: inline-flex;
  margin-right: 10px;
  padding-left: 5px;
}

.typewriter .Typewriter__cursor {
 font-weight: 300 !important;
 display: none !important;
}

.hero-dlt p{
  /* padding-right: 70px; */
  line-height: 170%;
  margin-top: 30px;
}


.hero-btns{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap:30px;
  grid-gap:30px;
}

@media screen and (max-width:1000px){
  .hero-btns{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
    grid-gap: 20px !important;
  }
  .HH-Btn,
  .hero-btns a{
    width: auto !important;
  }
  .hero-btns a{
    height: 50px !important;
    padding: 0px 30px !important;
  }
  .HH-Btn span{
    height: 50px !important;
    width: 50px !important;
  }
  .HH-Btn h5{
    font-size: 12px !important;
  }
}

@media screen and (max-width:410px){
  .hero-btns{
    flex-direction: column !important;
  }
}
.hero-btns a{
  position: relative;
  width: 100%;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
  border:1px solid #0D2818;
  color: #0D2818;
}
.hero-btns a:hover{
  background-color: #f3f3f3;
  color: #0D2818;
}

.HH-Btn{
  position: relative;
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  grid-gap: 10px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.HH-Btn span{
  position: relative;
  width: 55px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border:1px solid #0D2818;
  color: #0D2818;
}

.HH-Btn h5{
  font-size: 14px;
  color: #595959;
  font-weight: 500;
}


.hero-banner{
  position: relative;
  width: 100%;
  height: auto;
}

.hero-banner img{
  max-width: 100%;
}


/* Nwass-sec */

.Nwass-sec{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.Nwass-Top{
  position: relative;
  width: 100%;
  height: auto;
}

.Nwass-Top p{
  margin-top: 10px;
}


.Nwass-Grid{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  gap: 20px;
  grid-template-rows: auto;
}

@media screen and (max-width:1000px){
  .Nwass-Grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}

@media screen and (max-width:600px){
  .Nwass-Grid{
    display: flex !important;
    flex-direction: column !important;
  }
}
.Nwass-Box{
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px;
  border:1px solid #E2E2E2;
}

.Nwass-Box h3{
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.Nwass-Box p{
  line-height: 30px;
}




.hhgd-sec{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding: 50px;
  background-color: #D0FBE1;
}

.hhgd-sec h3{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

@media screen and (max-width:500px){
  .hhgd-sec h3{
    font-size: 25px !important;
  } 
}

.hhgd-sec  a{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  grid-gap: 10px;
  font-weight: 700;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;
}

.hhgd-sec  a:hover{
  color: #164529;
}

.hhgd-sec  a svg{
  transition: all 0.3s ease-in-out;
  display: inline-flex; 
}
.hhgd-sec  a:hover svg{
  margin-left: 5px;
}


/* Gloand-sec */
.Gloand-sec{
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 150px;
  gap: 150px;
  margin-top: 120px;
}

@media screen and (max-width:1000px){
  .Gloand-sec{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 40px !important;
    grid-gap: 40px !important;
    margin-top: 50px !important;
  }

  .Gloand-1{
    position: relative !important;
    height: auto !important;
    top: 0px !important;
  }

  .Gloand-1 h4 span{
    display: none !important;
  }

  .Gloand-1 h4{
    display: block !important;
    text-align: center !important;
  }

}
.Gloand-1{
  position: sticky;
  top: 130px;
  left: 0;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.Gloand-1 h4{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  grid-gap: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight:600;
  color: #0D2818;
}

.Gloand-1 h4 span{
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 3px;
  background-color: #0D2818;
}

.Gloand-2{
  position: relative;
  width: 100%;
  height: auto;
}

.Gloand-2 h2{
  position: relative;
}

.Gloand-2 h2 span{
  background-color: #7BF2AB;
  padding: 0px 5px;
}

.Gloand-2 p{
  margin-top: 15px;
  display: block;
}

.Gloand-2 ul{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:30px 80px;
  gap:30px 80px;
}
@media screen and (max-width:700px){
  .Gloand-2 ul{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 40px !important;
    grid-gap: 40px !important;
  }

  .Gloand-2 ul li{
    border-width: 1px !important;
    padding: 15px 0px !important;
  }

}
.Gloand-2 ul li{
  position: relative;
  width: 100%;
  border-top: 2px solid #E2E2E2;
  padding: 20px 0px;
}

.Gloand-2 ul li h5{
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 27px;
  font-weight:700;
}

@media screen and (max-width:500px){
  .Gloand-2 ul li h5{
    font-size: 17px !important;
  }
}

/* Bidd-secs */
.Bidd-secs{
  position: relative;
  width: 100%;
  height: auto;
  padding: 120px 0px;
  background-color: #0D2818;
  margin-top: 120px;
  color: #fff;
}


.Bidd-Main{
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  gap: 100px;
}
@media screen and (max-width:1000px){
  .Bidd-secs{
    padding: 80px 0px !important;
  }
  .Bidd-Main{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 60px !important;
    grid-gap:60px !important;
  }

}
.Bidd-Dlt{
  position: relative;
  width: 100%;
  height: auto;
}

.Bidd-Dlt h2 span{
  background-color: #7BF2AB;
  color: #000;
}

.Bidd-Dlt p{
  display: block;
  margin-top: 20px;
}

.Bidd-Dlt ul{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  grid-gap: 50px;
  margin-top:40px;
}
@media screen and (max-width:500px){
  .Bidd-Dlt ul{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 40px !important;
    grid-gap: 40px !important;
  }

}
.Bidd-Dlt ul li{
  position: relative;
  width: 100%;
}

.Bidd-Dlt ul li h4{
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width:500px){
  .Bidd-Dlt ul li h4{
    font-size: 17px !important;
  }
}
.Bidd-banner{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bidd-banner img{
  max-width: 100%;
}

/* ggatsh-sec */

.ggatsh-sec{
  position: relative;
  width: 100%;
  height: auto;
  margin: 100px 0px;
  margin-bottom: 90px;
}

.ggatsh-sec .site-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ggatsh-main{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800px;
}
@media screen and (max-width:1000px){
  .ggatsh-sec{
    margin: 50px 0px !important;
    margin-bottom: 70px !important;
  }
  .ggatsh-main{
    width: 100% !important;
  }
}
.ggatsh-main a{
  position: relative;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 0px 25px;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
  border:1px solid #0D2818;
  color: #0D2818;
  background-color: transparent;
}

.ggatsh-main a:hover{
  background-color: #f3f3f3;
  color: #0D2818;
}



/* video-popup */

.video-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2500;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-video-popup{
  position: absolute;
  right: 80px;
  top: 40px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.close-video-popup::after,
.close-video-popup::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}

.close-video-popup::before{
  transform: rotate(-45deg);
}


.video-popup video{
  position: relative;
  width: 800px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width:1000px){
  .video-popup video{
    width: 90% !important;
  }
}

@media screen and (max-width:1100px){
  .close-video-popup{
    top: 10px !important;
    width: 40px !important;
    height: 40px !important;
  }
}

@media screen and (max-width:600px){
  .close-video-popup{
    top:30px !important;
    right: 30px !important;
  }
}


/* GG_Anim_Sec */

.GG_Anim_Sec{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.GG_Anim_Main{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.GG_Anim_Main img{
  max-width: 180px;
}
@media screen and (max-width:1000px){
  .GG_Anim_Main img{
    max-width: 150px !important;
  }

  .GG_Anim_Main svg{
    width: 70px !important;
  }
}

.GG_Anim_Main svg{
  position: absolute;
}


.hidden-Nav-links .Nav-Links button,
.hidden-Nav-links .Nav-Links,
.hidden-Nav-links {
  display: none !important;
}

.Reg_Nav .last-Nav-link,
.Reg_Nav .Nav-Links{
  display: none !important;
}


.Reg_Nav .hidden-Nav-links .Nav-Links button,
.Reg_Nav .hidden-Nav-links .Nav-Links,
.Reg_Nav .hidden-Nav-links {
  display: inline-flex !important;
}
.Reg_Nav .hidden-Nav-links .Nav-Links button svg{
  font-size: 17px !important;
}

@media screen and (max-width:500px){
  .Reg_Nav{
    margin-top: 10px !important;
  }
}


.Verification_Nav .last-Nav-link,
.Verification_Nav .nav-content .Nav-Links{
  display: none !important;
}

.Verification_Nav{
  width: auto !important;
  margin-left: 5% !important;
}

































/*Get-Seecos*/

.Get-Seecos{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
}


@media screen and (max-width:700px){
  .signup-desis{
    padding-top: 100px !important;
  }
}









.Reg_Sec{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Reg_Box{
  position: relative;
  width: 350px;
  height: auto;
}

.signup-desis .Reg_Box{
  width: 500px;
}
@media screen and (max-width:500px){
  .signup-desis .Reg_Box,
  .Reg_Box{
      width: 100% !important;
  }
}
.Reg_Box_Header{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.Reg_Box_Header h3{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
@media screen and (max-width:500px){
 .Reg_Box_Header h3{
  font-size: 25px !important;
 }
}
.Reg_Form{
  position: relative;
  width: 100%;
  height: auto;
  margin-top:30px;
  display: block;
}

.Reg_Input{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 15px;
  z-index: 1;
}

.Reg_Input button,
.Reg_Input textarea,
.Reg_Input input{
  position: relative;
  width: 100%;
  height: 50px;
  border:1px solid #E2E2E2;
  padding: 0px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.Reg_Input textarea::placeholder,
.Reg_Input input::placeholder{
  color: #606060;
  font-size: 15px !important;
}
.Reg_Input textarea:focus,
.Reg_Input input:focus{
  border-color: #0a6332;
}
.Reg_Input textarea{
  height: 150px;
  resize: none;
  padding: 20px;
}
.Reg_Input button{
  cursor: pointer;
  font-size: 18px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width:500px){
.Reg_Input button{
  font-size: 15px !important;
}  
}
.Reg_Input a{
  color: #0a6332;
  white-space: nowrap;
  font-size: 15px !important;
}
.Reg_Input p{
  font-size: 14px !important;
}
.Reg_Input a:hover{
  text-decoration: underline !important;
}

.pass-Input{
  display: flex;
  align-items: center;
}

.pass-Input input{
  padding-right: 45px;
}
.pass-Input span{
  position: absolute;
  z-index: 50;
  right: 5px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.pass-Input span img{
  max-width: 20px;
}

.Reg_Box_Foot{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.Reg_Box_Foot h6{
  position: relative;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #E2E2E2;
}

.Reg_Box_Foot h6 span{
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #606060;
}
.Upload-input label{
  margin-bottom: 10px !important;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.Upload-input input{
  padding-top: 12px !important;
}


.google-signup-BTN{
   position: relative;
  width: 100%;
  height: 60px;
  border:1px solid #E2E2E2;
  padding: 0px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.google-signup-BTN img{
  position: absolute;
  left: 20px;
  max-width: 100%;
}

.google-signup-BTN:hover{
  background: #F9F9F9;
}

.Reg_Box_Foot p{
  margin-top: 20px;
}
.Reg_Box_Foot p a{
  color: #0a6332;
  font-size: 15px !important;
}
.Reg_Box_Foot p a:hover{
  text-decoration: underline !important;
}

.OO-D-flex{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  grid-gap: 30px;
}

@media screen and (max-width:500px){
  .OO-D-flex{
      display: block !important;
  }
}










.input-container {
  position: relative;
  width: 100%;
  height:auto;
  display: flex;
  align-items: center;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: #606060;
  pointer-events: none;
  z-index: 30;
  font-size: 15px;
}

.input-container.focused label,
.input-container input:focus ~ label {
  top: 0;
  font-size: 12px !important;
  color: #0a6332;
  background-color: #fff;
  padding: 0 5px;
  font-weight: 500;
}













.password-strength {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.strength-bar {
  height: 4px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 5px;
}

.strength-bar.weak {
  background-color: red;
}

.strength-bar.moderate {
  background-color: orange;
}

.strength-bar.strong {
  background-color: green;
}








































/* MMha-page */

.Top_Plannsia,
.MMha-page{
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Top_Plannsia{
  padding-top: 100px;
  min-height: 400px;
}

.Top_Plannsia::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  z-index: -1000;
  background-color: #000;
  background-image: url(./assets//Img//pricing-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width:1000px){
  .Top_Plannsia::before{
    height: 350px !important;
  }
}
.TThero-Blam{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}



/* hagsh-sec */

.hagsh-sec{
  position: relative;
  width: 100%;
  margin-top: 90px;
}


.hagsh-main{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hagsh-Box{
  position: relative;
  width: 1000px;
}
@media screen and (max-width:1000px){
  .hagsh-Box{
      width: 100% !important;
  }
}
.hagsh-Box h4{
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0px;
}

.hagsh-Box p{
  margin-top: 10px;
}

.hagsh-Box ol,
.hagsh-Box ul{
  margin-left: 20px;
}

.hagsh-Box ul li{
  list-style: disc;
  margin-top: 10px;
}

.hagsh-Box ol li{
  list-style: decimal;
  margin-top: 10px;
}






























/* MMha-page */

.MMha-page{
  position: relative;
  width: 100%;
  height: auto;
}

.MMha-page-header{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color: #0D2818;
  padding: 50px 0px;
  padding-top: 200px;
  background-image: url(./assets//Img/contact-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* @media screen and (max-width:1000px){
  .MMha-page-header{
      padding: 0px !important;
      background-color: transparent !important;
      color: #1c1c1c !important;
      margin-top: 100px !important;
      min-height: 0px !important;
      margin-bottom: 10px !important;
  }
}
@media screen and (max-width:500px){
  .MMha-page-header{
    margin-top: 115px !important;
  }
} */
.hero-Blam{
  position: relative;
  width: 100%;
  height: auto;
}











.CnMMha-page{
  position: relative;
  width: 100%;
  height: auto;
}

.Contact_Pappa{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}



.contact-Dlts{
    position: relative;
    width: 100%;
    height: auto;
    padding:40px 30px;
}

@media screen and (max-width:1000px){
  .contact-Dlts{
    padding: 0px !important;
  }
}
.contact-Dlts-header{
    position: relative;
    width: 100%;
    height: auto;
}

.contact-Dlts-header p{
    color: #4E4E4E !important;
    display: block;
    margin-top: 20px;
    font-size: 15px;
}










.Contact_SeccO_1{
    position: relative;
    width: 100%;
    margin-top: 40px;
}


.Contact_SeccO_1 ul{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-template-rows: auto;
  }
  @media screen and (max-width:500px){
    .Contact_SeccO_1 ul{
      display: flex !important;
      flex-direction: column !important;
      gap: 20px !important;
    }
  }
  .Contact_SeccO_1 ul li{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
  }

  @media screen and (max-width:350px){
    .Contact_SeccO_1 ul li{
        display: flex !important;
        flex-direction: column !important;
        grid: 20px !important;
        grid-gap: 20px !important;
    }
  }

  .Contact_SeccO_1 ul li span{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border:1px solid #DEDEE8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Contact_SeccO_1 ul li span img{
    max-width: 100%;
  }

  .Contact_SeccO_1 ul li .DDl_Div{
    position: relative;
    width: 100%;
    height: auto;
  }

  .Contact_SeccO_1 ul li .DDl_Div h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px !important;
  }

  .Contact_SeccO_1 ul li .DDl_Div p{
    font-size: 14px;
    color:#343434;
  }

  .Contact_SeccO_1 ul li .DDl_Div h4{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px !important;
  }
  .Contact_SeccO_1 ul li .DDl_Div h4 a{
    white-space: nowrap;
    color: #0a6332;
  }
  .Contact_SeccO_1 ul li .DDl_Div h4 a:hover{
    text-decoration: underline;
  }



.message_Sec{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
}



.message-form{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: block;
}

.message-form-input{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
}
.message-form-input textarea,
.message-form-input select,
.message-form-input input{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    background-color: transparent;
    border:1px solid #E2E2E2;
    font-size: 15px;
    border-radius: 8px;
}
.message-form-input textarea::placeholder,
.message-form-input::placeholder{
    color: #4E4E4E;
}

.message-form-input textarea:focus,
.message-form-input select:focus,
.message-form-input input:focus{
   border-width: 2px;
   border-color: #13793D !important;
}

.message-form-input textarea{
  height: 200px;
  padding: 15px !important;
  resize: none;
}

.message-form-input select option{
    color: #000 !important;
}



.message-form-input button{
    position: relative;
    width: 250px;
    border-radius: 5px;
    height: 50px;
    padding: 0px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width:500px){
  .message-form-input button{
    width: 100% !important;
  }
}

.message-DFlex{
  display: flex;
  align-items: center;
  gap: 20px;
  grid-gap: 20px;
}
@media screen and (max-width:600px){
  .message-DFlex{
    display: block !important;
  }
}







.GG_Padded{
  padding: 0px 100px !important;
}

@media screen and (max-width:1000px){
  .GG_Padded{
    padding: 0px 0px !important;
  }
}








































/* Pricing_Sec */

.Pricing_Sec{
  position: relative;
  width: 100%;
  height: auto;
}
.Pricing_top{
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.Pricing_top p{
  margin-top: 10px;
}

.Pricing_sub{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (max-width:600px){
  .Pricing_sub{
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      gap: 10px;
      grid-gap: 10px;
  }
}
.Pricing_sub h3{
  font-size: 18px;
  font-weight: 500;
}

.pricing_Top_Btns{
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  /* background-color: #fff;
  border-radius: 10px; */
  gap: 5px;
  grid-gap: 5px;
  /* padding: 10px; */
}
@media screen and (max-width:400px){
  .pricing_Top_Btns{
      display: block !important;
      margin-left: -5px !important;
  }
  .pricing_Top_Btns button{
      margin: 5px !important;
  }
}
.pricing_Top_Btns button{
  position: relative;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 10px;
  background-color: transparent;
  outline: none;
  border:none;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  background-color: #EFF2F6;
}
.pricing_Top_Btns button:hover{
 background-color: #DAE1EB;
}

.pricing_Top_Btns button.active_Plan_Selt_btn{
  background-color: #16DB65;
  color: #000;
}

.Plans_Sec{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.plan_box{
  position: relative;
  width: 100%;
  height: auto;
  padding:20px 30px;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width:500px){
  .plan_box{
      padding: 20px !important;
  }
}
.plan_box_Top{
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EFF2F6;
}
@media screen and (max-width:500px){
  .plan_box_Top{
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      gap: 10px !important;
      grid-gap: 10px !important;
  }
}
.plan_box_Top h3{
  font-size: 25px;
  font-weight: 600;
}
.plan_box_Top h3.plan_price{
  color:#04471C;
  font-weight: 700;
}
.plan_box_Top p{
  font-size: 15px;
  color:#555555;
}
.plan_box_Top a{
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 20px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.plan_box_Body{
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: auto;
}


.plan_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none !important;
}

.plan_table th, .plan_table td {
  text-align: left;
  padding:10px 18px;
}
.plan_table tr:nth-child(even){
    background-color: #F3F6F7;
}

.plan_table tr th,
.plan_table tr td:nth-child(2),
.plan_table tr td:last-child{
text-align: center;
}
.plan_table tr td span img{
  width: 20px;
}
.plan_table tr th h3{
  font-size: 16px;
  font-weight: 500;
}















.Landing-page .plan_box{
  background-color: #fff;
  -webkit-box-shadow: 0 0  20px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 0  20px rgb(0 0 0 / 10%);
  box-shadow: 0 0  20px rgb(0 0 0 / 10%);
}
.Landing-page .Pricing_top{
  text-align: center !important;
}
.Landing-page .Pricing_top h2{
  font-weight: 500 !important;
}




@media screen and (min-width:1000px){
  .Landing-page .Plans_Sec{
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
  }

.Landing-page .pricing_Top_Btns button{
  font-size: 10px !important;
  padding: 5px 10px !important;
}

.Landing-page .Pricing_sub h3{
  font-size: 14px !important;
}

.Landing-page .plan_box_Top h3{
  font-size: 18px !important;
}

.Landing-page  .plan_box_Top a{
  font-size: 12px !important;
}

.Landing-page .plan_table tr th h3{
  font-size: 13px !important;
}

.Landing-page .plan_table th, .Landing-page .plan_table td{
  font-size: 12px !important;
}

.Landing-page .plan_table tr td span img{
  width: 14px !important;
}

}


@media screen and (max-width:999px){
  .plan_box{
    margin-top: 20px !important;
  }

  .plan_box:first-child{
    margin-top: 0px !important;
  }
}





/* Plan_SUmmry */

.Plan_SUmmry{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 130px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 70px;
}
@media screen and (max-width:600px){
  .Plan_SUmmry{
    margin-top: 80px !important;
  }
}
.Plan_SUmmry h3{
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Plan_SUmmry h3 span{
  background-color: #fff;
  padding: 5px 10px;
  font-weight: 700;
}


.Plan_SUmmry ul{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 80px;
  gap: 80px;
  grid-template-rows: auto;
}
@media screen and (max-width:1000px){
  .Plan_SUmmry ul{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}

@media screen and (max-width:600px){
  .Plan_SUmmry ul{
    display: flex !important;
    flex-direction: column !important;
    grid-gap: 30px !important;
    gap: 30px !important;
  }
}
.Plan_SUmmry ul li{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.Plan_SUmmry ul li p{
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width:500px){
  .Plan_SUmmry ul li p{
    font-size: 16px !important;
  }
}
.Plan_SUmmry ul li svg{
  font-size: 40px;
  margin-bottom: 30px;
}














/* How_Page */

.How_Page{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 130px;
}

.How_Seccoo{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.How_Seccoo_TOp{
  position: relative;
  width: 500px;
}
@media screen and (max-width:700px){
  .How_Seccoo_TOp{
    width: 100% !important;
  }
}
.How_Seccoo_TOp p{
  margin-top: 15px;
}

.How_Seccoo_Vid{
  position: relative;
  width: 100%;
  margin-top: 50px;
}


.How_Seccoo_Vid video{
  position: relative;
  width: 100%;
  height: auto;
}































.faq-section {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 130px;
  margin-bottom: 30px;
  padding: 0px 200px;
}

@media screen and (max-width:1000px){
  .faq-section{
      padding: 0px !important;
  }
}

.faq_header{
  position: relative;
  width: 100%;
  text-align: center;
}
.faq_Main{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.faq_Main ul{
  position: relative;
  width: 100%;
  height: auto;
}
.faq_Main ul li{
  margin-top: 20px !important;
}
.faq-item {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.faq-content{
  position: relative;
  width: 100%;
  height: auto;
  padding: 16px;
  border:1px solid #E2E2E2;
  border-radius: 5px;
  color: #373737;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.faq-question h3 {
  font-size: 18px;
  font-weight:500;
}

@media screen and (max-width:500px){
  .faq-question h3 {
    font-size: 15px !important;
  }
}

.faq-question span {
  font-size: 20px;
  font-weight: 500;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 15px;
  color: #333;
}
.faq-answer p span{
  font-size: 14px !important;
  margin-top: 10px !important;
  display: block !important;
}
.faq-answer.show {
  max-height: 500px; 
}

.active .faq-question h3 {
  font-weight: 700;
  margin-bottom: 10px !important;
  color: #000;
}

/* .active .faq-question span {
  color: #007bff;
}
 */


 










 /* Verification-Landing-page */

 .Verification-Landing-page{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  z-index: 1;
 }





 /* Verification_page */

 .Verification_page{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  background-color: #fff;
 }
 

 .Showresult  .Verification_page{
  transform: translateY(-100%);
 }


 .Verification_Nav .site-container{
  width: 90% !important;
  margin-left: 5% !important;
 }

 .Verification_Nav .site-logo img{
  max-width: 200px;
 }

 .Fixed_BG_OO{
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0D2818;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }


 @media screen and (max-width:1200px){
  .Comp_Intro_Sec,
  .Fixed_BG_OO{
    width: 50% !important;
  }
  .Fixed_BG_OO span{
    width: 300px !important;
    height: 300px !important;
  }

  .comp_Logo{
    max-width: 200px !important;
    max-height: 100px !important;
  }
 }

 @media screen and (max-width:1000px){
  .Fixed_BG_OO{
    display: none !important;
  }
  .Comp_Intro_Sec{
    width: 60% !important;
    margin-left: 20% !important;
    padding: 70px 0px !important;
  }
 }

 @media screen and (max-width:700px){
  .Comp_Intro_Sec{
    width: 90% !important;
    margin-left: 5% !important;
  }
 }
 .Fixed_BG_OO img.Fixed-ImgBg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -300;
 }

 .Fixed_BG_OO::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -200;
  background-color: rgba(0,0,0,0.5);
 }


 .Fixed_BG_OO span{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height:400px;
 }


 .marked_Img{
  position: relative;
  max-width: 100%;
 }

.comp_Logo{
  position: relative;
  max-width: 300px;
  padding: 10px 10px;
  height:auto;
  max-height: 200px;
  background-color: #fff;
  object-fit: contain;
  position: absolute;
}




/* .activeComp_Intro_Sec */

.Comp_Intro_Sec{
  position: relative;
  width: 40%;
  min-height: auto;
  min-height: 100vh;
  padding: 100px 90px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.COm_oopal{
  position: relative;
  width: 100%;
  height: auto;
}

.COm_oopal h6{
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 20px;
}

.COm_oopal h2 span{
  background-color: #7BF2AB;
  padding: 0px 5px;
  color: #000;
}

.COm_oopal p{
  margin-top: 10px;
}
.mobile_comp_Logo{
  display: none;
 }

 @media screen and (max-width:1000px){
  .mobile_comp_Logo{
    display: inline-flex !important;
    max-width: 100px !important;
    max-height: 80px !important;
    border:1px solid #E2E2E2 !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
   }
 }












.Verification_Search_Form{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-top: 1px solid #E2E2E2;
  padding-top: 20px;
}

.V_Form_Input{
  position: relative;
  width: 100%;
  height: auto;
}
.react-datepicker-wrapper{
  display: block !important;
  width: 100%;
}
.react-datepicker__navigation{
  width: 20px !important;
  width:30px !important;
  background-color: transparent !important;
}
.react-datepicker__year-select,
.react-datepicker__month-dropdown-container select{
  background-color: #fff !important;
  border:none !important;
  outline: none !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding:10px !important;
}

.V_Form_Input label{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.V_Form_Input input{
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  padding: 0px 20px;
  font-size: 15px;
  color: #000;
  border: 1px solid #E2E2E2;
}
.V_Form_Input input.certNum_Inpt,
.V_Form_Input input:focus{
  background-color: #fff;
  border:2px solid #0D2818;
}
.V_Form_Input img{
  position: absolute;
  max-width: 30px;
  z-index: 2;
  right: 10px;
}
.F_V_Form_Input input{
  padding-right: 35px;
}
.F_V_Form_Input input::placeholder{
  color: #4B4B4B;
}
.V_Form_Input button{
  width: auto;
  height: 50px;
  padding: 0px 30px;
  border-radius: 8px;
  outline: none;
  border:none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}



.HGa_Grid{
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 15px;
  grid-gap: 15px;
  margin-bottom: 10px;
}


@media screen and (max-width:400px){
  .HGa_Grid{
    display: flex !important;
    flex-direction: column !important;
  }
}















/* Search_Reasult_Sec */

.Search_Reasult_Sec{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -500;
  background-color: #eff2f6;
  padding: 30px 0px;
  overflow-y: auto;
}
@media screen and (max-width:1200px){
  .Search_Reasult_Sec{
    padding: 90px 0px !important;
  }
}
@media screen and (max-width:500px){
  .Search_Reasult_Sec{
    padding: 50px 0px !important;
  }
}
.Search_Reasult_Sec .site-container{
  display: flex !important;
  justify-content: center !important;
}








.certificate-container {
  width: 600px;
  border: 2px solid #0D2818;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #0D2818;
}

@media screen and (max-width:700px){
  .certificate-container {
    width: 100% !important;
  }
}

.certificate-header {
  text-align: center;
  margin-bottom: 20px;
}

.certificate-header h1 {
  text-align: center;
  border: 1px solid #E2E2E2;
  margin-top: 20px;
  padding: 10px;
  display: block;
}

.verified-badge {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.verified-badge button{
  position: relative;
  padding: 5px 8px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  grid-gap: 5px;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
}
.verified-badge button svg{
  font-size: 12px;
}
.verified-badge p{
  font-size: 12px;
  text-transform: uppercase;
}
.certificate-body {
  font-size: 16px;
  line-height: 1.8;
}

.certificate-body p {
  margin-top: 15px;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.certificate-body p span{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  padding:5px 20px;
  background-color:  #eff2f6;
  margin-top: 10px;
  text-transform: capitalize !important;
  font-size: 13px;
}
.status {
  font-weight: 700;
  font-size: 35px;
}
@media screen and (max-width:1000px){
  .status {
    font-size: 30px !important;
  }
}

@media screen and (max-width:500px){
  .status {
    font-size: 20px !important;
  }
}




/* very_footer */

.very_footer{
  position: fixed;
  right: 5%;
  bottom: 30px;
  color: #fff;
  z-index: 1500;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1000px){
  .very_footer{
    color: #1c1c1c !important;
    position: relative !important;
    right: 0% !important;
    bottom: 0px !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .very_footer span{
    margin-top: 10px !important;
  }

  .Showresult .very_footer{
    display: none !important;
  }
}
.very_footer a{
  font-size: 11px;
  font-weight: 500;
  display: flex;
}
.very_footer a:hover{
  text-decoration: underline !important;
}
.Showresult .very_footer{
  color: #1c1c1c;
}

.very_footer span{
  font-size: 13px;
  margin-top: 20px;
  display: block;
  opacity: 0.7;
}